<div style="display: flex; justify-content: center; margin-top: 2%;"
  >
  <form
    style="display: flex; flex-direction: column; justify-content: center; align-items: center; width: 100%; max-width: 500px; padding: 20px; border: 1px solid #ccc; border-radius: 8px; background-color: #fff;">
    
    @for (element of selectionList ; track $index) {
      <h2>{{element.selectionName}}</h2>

      @for (element of element.elements  ; track $index) {
      
     
        @if (element.label === 'Drag Here or Click from the Sidenav to add Elements') {
          <!-- Add specific styles here if needed -->
        } @else {
        
          <div style="width: 100%; margin-bottom: 15px;">
            <div [style]="element.styles?.divStyle">
              <!-- <h6>{{element.type}}</h6> -->
              <!-- Label -->
              @if (element.label) {
                <label
                  [for]="element.name"
                  [style]="element.styles?.labelStyle">
                  {{ element.label }}
                </label>
              }
      
              <!-- Input Element -->
              @if (element.type === 'input') {
                <input
                  type="text"
                  [id]="element.id"
                  [name]="element.name"
                  [placeholder]="element.placeholder"
                  [style]="element.styles?.inputStyle" />
              }

              <!-- Textbox element -->
              @if (element.type === 'textbox') {
                <textarea 
                  [id]="element.id"
                  [name]="element.name"
                  [placeholder]="element.placeholder"
                  [style]="element.styles?.inputStyle"
                  style="width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 4px;"></textarea>
              }
      
              <!-- Number Element -->
              @if (element.type === 'number') {
                <input
                  type="number"
                  [id]="element.id"
                  [name]="element.name"
                  [placeholder]="element.placeholder"
                  [style]="element.styles?.inputStyle" />
              }

              <!-- Email element -->
              @if (element.type === 'email') {
                <input  
                  [id]="element.id"
                  [name]="element.name"
                  [placeholder]="element.placeholder"
                  [style]="element.styles?.inputStyle"
                  [required]="element.validation?.required" 
                  type="email"
                   />
              }
              
              <!-- Phone number element -->
              @if (element.type === 'phone') {
                <input  
                  [id]="element.id"
                  [name]="element.name"
                  [placeholder]="element.placeholder"
                  [style]="element.styles?.inputStyle"
                  [required]="element.validation?.required" 
                  type="tel"
                   />
              }

              <!-- Radio button element -->
              @if (element.type === 'radio') {
                <div  [id]="element.id" [style]="element.innerDivStyle">
                  @for (option of element.options; track $index) {
                    <label [style]="element.innerLabelStyle">
                      <input
                        [id]="option.id"
                        type="radio"
                        [name]="element.name"
                        [value]="option.value"
                        [style]="option.style" />
                      {{ option.label }}
                    </label>
                  }
                </div>
              }
      
              <!-- Checkbox Element -->
              @if (element.type === 'checkbox') {
                <div  [id]="element.id" [style]="element.innerDivStyle">
                  @for (option of element.options; track $index) {
                    <label [style]="element.innerLabelStyle">
                      <input
                        [id]="option.id"
                        type="checkbox"
                        [name]="element.name"
                        [value]="option.value"
                        [style]="option.style" />
                      {{ option.label }}
                    </label>
                  }
                </div>
              }
      
              <!-- Dropdown Element -->
              @if (element.type === 'dropdown') {
                <select
                  [id]="element.id"
                  [name]="element.name"
                  [style]="element.styles?.selectStyle">
                  @for (option of element.options; track $index) {
                    <option  [id]="option.id" [value]="option.value">
                      {{ option.label }}
                    </option>
                  }
                </select>
              }
            </div>
          </div>
        }
    } 
  }
  </form>
</div>
