<div>
    <h2>Selection List</h2>
   
    @for (section of sections ; track $index) {
        @if (section) {
            <div class="buttons-container">
                <button class="button" (click)="navigateToSectionElements(section)"   matTooltip="edit" matTooltipPosition="right"> {{section}}<mat-icon>edit</mat-icon></button>
              </div>
        }
 
    }
  </div>
  <section>
    <div class="example-button-row">
      <button mat-flat-button class="primary-bg-color" (click)="addSection()"><span>Add Section Here</span><mat-icon>add_circle_outline</mat-icon></button>
    </div>
  </section>
