.form-container{
   display: flex;
   align-items: center; 
   justify-content: center;
   flex-direction: column;
   margin-top: 30px;
   width: 85%;
}
.fields-container{
    min-width: 940px;
}
.name-title{
    min-width: 50%;
   }
   
   .label{
     height: 20px;
     FONT-SIZE: 12px;
     COLOR: #204f7f;
     font-weight:bold ;
     FONT-FAMILY: ARIAL, Verdana, TAHOMA, 'TIMES NEW ROMAN';
     border: 1px solid grey;
   }
   .name{
   display: flex;
   align-items: center;
   min-width: 99%;
   height: 26px;
   border: 1px solid grey;
   margin: 2px 0px;
   
   }
   
   .title{
     height: 26px;
     border: 1px solid grey;
     margin: 2px 0px;
   }
   label{
     margin: 0px 2px;
   }
   .name-input{
     background-color: #D4D4D4;
     height: 20px;
     border: 1px solid #cccccc;
     border-radius: 5px;
     padding: 0px;
     margin: 2px;
   }
   
   .title-input{
     background-color: #D4D4D4;
     height: 20px;
     width: 99%;
     border: 1px solid #cccccc;
     border-radius: 5px;
     padding: 0px;
     margin: 2px;
   }
   
   .phone-input{
     height: 20px;
     width: 99%;
     border: 1px solid #cccccc;
     border-radius: 5px;
     padding: 0px;
     margin: 2px;
   }
   
   .dropdown{
     width: 50%;
     background-color: #D4D4D4;
     margin: 0px 2px;
   }
   
   .personaltype-input{
     background-color: #D4D4D4;
     height: 20px;
     width: 40%;
     border: 1px solid #cccccc;
     border-radius: 5px;
     padding: 0px;
     margin: 2px;
   }
   
   .YesOrNoButton-container{
     display: flex;
     width: 99.5%;
   }
   .YesOrNo-label{
     min-width: 65%;
     height: 30px;
     FONT-SIZE: 12px;
     COLOR: #204f7f;
     font-weight:bold ;
     FONT-FAMILY: ARIAL, Verdana, TAHOMA, 'TIMES NEW ROMAN';
     border: 1px solid grey;
   }
   .YesOrNo{
     min-width: 35%;
     height: 30px;
     FONT-SIZE: 12px;
     COLOR: #204f7f;
     font-weight:bold ;
     FONT-FAMILY: ARIAL, Verdana, TAHOMA, 'TIMES NEW ROMAN';
     border: 1px solid grey;
   }
   
   .toggle-container {
     display: flex;
     margin-top: 1px;
   }
   
   .toggle-button {
     padding: 3px;
     margin: 2px;
     border: 1px solid #ccc;
     color: #000000;
     border-radius: 5px;
     background-color: #DDDDDD;
     cursor: pointer;
     display: flex;
     align-items: center;
     gap: 10px;
   }
   
   .toggle-button.active {
     background-color: #000000;
     color: white;
   }
   
   .tick-mark {
     color: white;
   }
   
   .input-container{
     display: flex;
     min-height: 40px;
     width: 100%;
   }
   
   .lable-field{
     FONT-SIZE: 12px;
     COLOR: #204f7f;
     font-weight:bold ;
     FONT-FAMILY: ARIAL, Verdana, TAHOMA, 'TIMES NEW ROMAN';
     border: 1px solid grey;
     width: 50%;
     max-width: 50%;
   }
   .input-field{
     width: 50%;
     border: 1px solid grey;
   }
   .input{
     height: 31px;
     border: 1px solid #cccccc;
     border-radius: 5px;
     padding: 0px;
     margin: 2px;
     width: 98.5%;
   }
   .section-name-container{
    display: flex;
    align-items: center;
    width: 938px;
    background-color: #c1c1c1;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 2px;
    margin-top: 10px;
  }
  
  .section-name{
    margin-left: 10px;
    font-weight: 500;
  }

  .name-title-container{
    display: flex;
    width: 100%;
  }
  
  .button-container{
    display: flex;
    margin-left: 800px;
  }
  .button{
    margin: 12px 3px 3px 3px;
    height: 20px;
    letter-spacing: 1px;
    text-decoration: none;
    text-align: center;
    font-family: ARIAL, Verdana, TAHOMA, 'TIMES NEW ROMAN';
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    border-radius: 5px;
    background: #364E6D;
    cursor: pointer;
  }

  .required-star {
    color: red;
    font-size: 1.2em;
    margin-left: 2px;
  }
  
  .iacuc{
    display: flex;
    gap:420px;
  }

  .open-form-container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:5px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    z-index: 1000;
    width: 400px;
  }
  .open-form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5px;
  }